<div class="dd">

  <div>
    ~{{quote.author}}
  </div>

  


  
  <div class="row">
    <div class="  col m-2">
      
      <button (click)="quote.upvote()" class="btn btn-info "><i class="fa-solid fa-thumbs-up">{{quote.votes}}</i></button>

      
      <button (click)="quote.downvote()" class=" btn btn-danger"> <i class="fa-solid fa-thumbs-down">{{quote.vote}}</i> </button>
     
    </div>
    
    
  
    


    <div class="col">
      <button class="btn btn-danger" (click)="quoteRead(true)"><i class="fa-solid fa-trash-can"></i></button>
      <br>
    </div>
    <br>
  </div>
 
  
</div>

