body{
  background-image:url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}/* You can add global styles to this file, and also import other style files */



/* https://images.pexels.com/photos/1046466/pexels-photo-1046466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 */
