<div class="container-fluid">
    <h3 class="text-center">Create New Quote</h3>
    <hr>
 
    <form>
<div class="form-group">
    <label for="">Your name</label>
    <input type="text">
</div>
     
<div class="form-group">
    <label for="">Quote Title</label>
    <input type="text">
</div>
     
<div class="form-group">
    <label for="">Quote</label>
    <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
</div>

<div class="form-group">
    <label for="">Quote Author</label>
    <input type="text">
</div>
      


      <button class="btn btn-info">Add Quote</button>
    </form>

 

</div>
