<div class="container-fluid text-light">
  <h3 class="text-center">Create New Quote</h3>
  <hr>

  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="name">Your name</label>
      <input type="text" required class="form-control" id="name"[(ngModel)]="newQuote.name" name="name"  #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-info">
        <p>Name is required</p>
      </div>
      <!-- Two way Data Binding  -->
      <!-- -->


    </div>

    <div class="form-group">
      <label for="">Quote Title</label>
      <input type="text" required class="form-control" id="name">
      <!-- <div [hidden]="description.valid || description.pristine" class="alert alert-info">
        <p>Quote Title is required</p>
      </div> -->
    </div>

    <div class="form-group">
      <label for="">Quote</label>
      <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
      <!-- <div [hidden]=".valid || .pristine" class="alert alert-info">
        <p> Quote is required</p>
      </div> -->
    </div>

    <div class="form-group">
      <label for="">Quote Author</label>
      <input type="text" required class="form-control" id="name">
      <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-info">
        <p>Quote Author is required</p>
      </div> -->
    </div>
    <br>



    <button type="submit" class="btn btn-info">Add Quote</button>
  </form>



</div>
